body {
    
    background-size: cover;
}


.headr {
    width: auto;
    font-family: 'Lobster', cursive;
    color: white;
	text-shadow: 0px 0px 1px black;
    
    height: 90px;
    background-color: burlywood;
    
    border-radius: 5px;
    text-align: left;
    padding-left: 10px;
    padding: 10px;
    
    
    
}

.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	
    background: red;
    color: white;
    border-radius: 5px;
    float: right;
    bottom-margin: 20px
    left-margin: 15px; right-margin: 5px;
	padding: 10px 15px;
	text-shadow: 0px 0px 1px black;
	
	
    
}

#logo {
    font-size: 40px;
}

.headr2 {
    width: auto;
	font-family: 'Exo', sans-serif;
	text-shadow: 0px 0px 1px black;
    
    color: white;
    margin-top: 5px;
    
    height: 30px;
    background-color: brown;
    
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    
       
}

.main1 {
	display: flex;






}

#navBar {
    float: left;
    font-family: 'Exo', sans-serif;
	color: white;
    margin-top: 5px;
    height: auto;
    width: auto;
    background-color: burlywood;
    border-radius: 8px;
    padding-left: 10px; padding-top: 8px; padding-right: 6px;
	text-shadow: 0px 0px 1px black;
	font-weight: bold;
	
    
}

.main {
    margin-left: 15px;
	font-family: 'Sora', sans-serif;
    width: auto;
    margin-top: 7px;
    height: auto;
    
    padding: 8px;
    font-size: 22px;
    background-color: lightgrey;
    border-radius: 5px;
	float: left;
	
}

.call {
    margin: 15px;
	margin-top: 7px;
	font-family: 'Sora', sans-serif;
    width: auto;
    
    
    
    padding: 140px 25px;
    font-size: 22px;
    background-color: lightgrey;
    border-radius: 5px;
	height: auto;

	text-align: center;
	
	
}

.call2 {
    font-size: 15px;
	
}




	

.rows {
    
    display: inline;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: nowrap;
    overflow-x: scroll;
    font-size: 15px;
    margin-bottom: 10px;
}

.img {
    width: 150px;
    border-radius: 7px;
    height: 171px;
	margin: 5px;
}

li {
    margin-bottom: 15px;
}

.img2 {
    width: 140px;
    border-radius: 75%;
    height: 161px;
	margin: 9px;
	
}

.inp {
	border-radius: 5px;
	margin: 7px 3px;
	padding: 6px;




}

.btn2 {
	
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	
    background: red;
    color: white;
    border-radius: 5px;
    
    text-shadow: 0px 0px 1px black;
    
	padding: 10px 15px;



}



